{{#partial "content"}}
    <p> <strong>Name:</strong> {{hike.name}}</p>
    <p><strong>Length:</strong> {{hike.length}} kilometers</p>
    <p><strong>Elevation Gain:</strong> {{hike.elevationGain}} meters</p>
    <p><strong>State:</strong> {{hike.state}}</p>
    <img src="{{hike.imageUrl}}" width="70%">


    <br>
    <br>
    <a href="/hikes/{{hike.id}}/edit">Edit this hike</a>
    <br>
    <a href="/hikes/{{hike.id}}/delete">Delete this hike</a>


    <h3>Leave a comment</h3>
    <form action="/hikes/{{hike.id}}/comments" method="post">
        <label for="userName">Select your username:</label>

        <select name="userName" id="userName">
        {{#each users}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
        </select>
        <p>Not a registered user?<a href="/users/new">Sign-up here.</a></p>
        <br>
        <label for="content">Comment:</label>
        <input id="content" name="content" type="text" width="100%">
        <br>
        <br>
        <button type="submit" class="btn btn-danger">Leave Comment</button>
    </form>
    <br>
    {{#each commentsWith}}

        <p>{{this}}</p>

        <p>{{@key.content}}</p>
        <br>
    {{/each}}

{{/partial}}

{{> layout.hbs}}